{% extends 'security/bannertype/theme.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{asset('dist/css/adminlte.min.css')}}">
{% endblock %}

{% block content %}

{% block form_title %}{% endblock form_title %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-12">

                <!-- Horizontal Form -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Dados do tipo de banner</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class='form-group'>
                                        {{ form_label(form.title) }}
                                        <div class="col-sm-12">
                                            {{ form_errors(form.title) }}
                                            {{ form_widget(form.title, { attr: { 'class': 'form-control' }}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class='form-group'>
                                        {{ form_label(form.enabled, null, {'label_attr': {'class': 'col-form-label'}}) }}
                                        <div class="col-sm-12">
                                            {{ form_errors(form.enabled) }}
                                            {{ form_widget(form.enabled, { attr: { 'class': 'form-control' }}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class='form-group'>
                                        {{ form_label(form.width) }}
                                        <div class="col-sm-12">
                                            {{ form_errors(form.width) }}
                                            {{ form_widget(form.width, { attr: { 'class': 'form-control' }}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class='form-group'>
                                        {{ form_label(form.height) }}
                                        <div class="col-sm-12">
                                            {{ form_errors(form.height) }}
                                            {{ form_widget(form.height, { attr: { 'class': 'form-control' }}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{ form_rest(form) }}
                            
                        </div>
                        
                    
                </div>
                <!-- /.card -->

                <!-- /.card-body -->
                <div class="card-footer">                        
                    <button type="submit" class="btn btn-info float-right">{{ btn_acao }}</button>
                    <a href="{{ path('s_banner_type') }}" class="btn btn-default float-left">Voltar</a>
                </div>
                <!-- /.card-footer -->

            </div>  

            {{ form_end(form) }}
        </div>
    </div>

</section>
<!-- END Main content -->
{% endblock content %}
