{% set menu_pagina = 'blog' %}
{% extends "front/layout.twig" %}


{% block content %}

	<section class="section-header-blog">
		<div class="container row-container-blog">
			<div class="row ">
				<div class="col-lg-4 col-md-4 col-sm-12 text-header-blog">
					<h1>Blog da Booster</h1>
				</div>

				<div class="col-lg-8 col-md-8 col-sm-12 list-categorias">
					{% for item in blog_type %}
						<a href="{{path('web_blog_category', {'url_category': item.url})}}" class="text-decoration-none">
							<p>{{item.title|raw}}</p>
						</a>
					{% endfor %}


				</div>

				

				<div class="risco-quebra-linha">
					<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="2" viewbox="0 0 1392 2" fill="none">
						<path d="M0 1H1392" stroke="white" stroke-width="2"/>
						<path d="M0 1H1392" stroke="url(#paint0_linear_788_2207)" stroke-width="2"/>
						<defs>
							<linearGradient id="paint0_linear_788_2207" x1="0" y1="0.5" x2="1392" y2="0.5" gradientunits="userSpaceOnUse">
								<stop stop-color="#FB4516"/>
								<stop offset="0.5" stop-color="#5800FF"/>
								<stop offset="0.735577" stop-color="#4800D8"/>
								<stop offset="1" stop-color="#272265"/>
							</linearGradient>
						</defs>
					</svg>
				</div>


				<div class="blog-search-section py-5">
					<div class="search-container">
						<div class="search-input-wrapper">
							<form action="{{path('web_blog_resultado')}}" method="post" style="all: unset; display: contents;">
								<input type="text" class="blog-search-input" placeholder="Digite o que está buscando" id="blogSearch" name="blogSearch">
								<button class="search-btn" type="button">
									<i class="fas fa-search"></i>
								</button>
							</form>
						</div>
					</div>
				</div>


			</div>
		</div>

	</section>


	<section class="section-header-blog">
		<div class="container row-container-blog">
			<div class="row ">

				<div class="container py-2">
					<div class="blog-header">
						<div class="blog-category">{{blog_category.title|raw}}</div>
						<h1 class="blog-title">{{blog_interna.title|raw}}</h1>
						<div class="blog-subtitle">{{blog_interna.subtitle|raw}}</div>
					</div>
					<div class="mb-4">
						<img src="{{path('imagem', {'path': 'blog', 'imagem': blog_interna.image})}}" alt="Imagem da notícia" class="blog-image">
						
					</div>
					<div class="blog-content">
						{{blog_interna.body|raw}}
					</div>
				</div>

				<div class="risco-quebra-linha pb-5">
					<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="2" viewbox="0 0 1392 2" fill="none">
						<path d="M0 1H1392" stroke="white" stroke-width="2"/>
						<path d="M0 1H1392" stroke="url(#paint0_linear_788_2207)" stroke-width="2"/>
						<defs>
							<linearGradient id="paint0_linear_788_2207" x1="0" y1="0.5" x2="1392" y2="0.5" gradientunits="userSpaceOnUse">
								<stop stop-color="#FB4516"/>
								<stop offset="0.5" stop-color="#5800FF"/>
								<stop offset="0.735577" stop-color="#4800D8"/>
								<stop offset="1" stop-color="#272265"/>
							</linearGradient>
						</defs>
					</svg>
				</div>


			</div>
		</div>
	</section>


	<section class="section-header-blog bg-white">
		<div class="container row-container-blog">
			<div class="row ">


				<div class="blog-featured-section py-5">
					<h2 class="featured-title mb-4">Em destaque</h2>
					<div class="featured-carousel-wrapper position-relative">
						<button class="carousel-arrow left" onclick="scrollFeatured(-1)">
							<span>&lt;</span>
						</button>
						<div class="featured-carousel d-flex flex-nowrap overflow-auto" id="featuredCarousel">
							{% if blog is not empty %}
							{% for item in blog %}
								<div class="featured-card mx-2">
									<img src="{{path('imagem', {'path': 'blog', 'imagem': last_blog.image})}}" class="featured-img mb-3" alt="Notícia destaque">
									<div class="blog-category w-100 titulo-chamadas-noticias">{{item.categoria|raw}}</div>
									<div class="featured-card-title py-3">{{item.title|raw}}</div>
									<a href="{{path('web_blog_interna', {'url_blog': last_blog.url,'url_category': last_blog.url_category})}}" class="featured-link">+ ver matéria completa</a>
								</div>
							{% endfor %}
						{% else %}
							<div class="no-posts-message px-4 py-5 text-black">
								<h3>Nenhum post encontrado</h3>
								<p>Não há posts disponíveis no momento. Volte em breve para ver novos conteúdos!</p>
							</div>
						{% endif %}
						</div>
						<button class="carousel-arrow right" onclick="scrollFeatured(1)">
							<span>&gt;</span>
						</button>
					</div>
				</div>

				<div class="newsletter-section my-5 d-flex flex-column flex-md-row align-items-stretch">
					<div class="newsletter-box p-4 flex-fill">
						<h3 class="newsletter-title mb-3">Assine nossa newsletter</h3>
						<p class="newsletter-desc mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu consequat ligula.</p>
						<form class="newsletter-form d-flex flex-column flex-sm-row gap-2" action="{{path('web_newslatter_cadastros')}}" method="post">
							<input type="email" class="form-control mb-2 mb-sm-0" placeholder="Digite seu e-mail..." name="iEmail" id="iEmail"  required>
							
							<button type="submit" class="btn newsletter-btn">ENVIAR</button>
						</form>
					</div>
					<div class="newsletter-img-box flex-fill d-none d-md-block">
						<img src="{{asset('imgs/blog/rocket.png')}}" class="newsletter-img" alt="Foguete">
					</div>
				</div>


			</div>
		</div>
	</section>
{% endblock %}
