{% extends 'security/depoimentos/theme.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('dist/css/adminlte.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/summernote/summernote-bs4.min.css') }}">
{% endblock %}

{% block content %}

{% block form_title %}{% endblock form_title %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

        <div class="row">
            <div class="col-md-8">
                <!-- Dados do Depoimento -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Dados do Depoimento</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            {{ form_label(form.titulo) }}
                            {{ form_errors(form.titulo) }}
                            {{ form_widget(form.titulo, { attr: { 'class': 'form-control' }}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.texto) }}
                            {{ form_errors(form.texto) }}
                            {{ form_widget(form.texto, { attr: { 'class': 'form-control editor-content' }}) }}
                        </div>
                    </div>
                </div>

                <!-- Dados do Autor -->
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Dados do Autor</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.autor_nome) }}
                                    {{ form_errors(form.autor_nome) }}
                                    {{ form_widget(form.autor_nome, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.autor_empresa) }}
                                    {{ form_errors(form.autor_empresa) }}
                                    {{ form_widget(form.autor_empresa, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.autor_cargo) }}
                                    {{ form_errors(form.autor_cargo) }}
                                    {{ form_widget(form.autor_cargo, { attr: { 'class': 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.foto_autor) }}
                                    {{ form_errors(form.foto_autor) }}
                                    {{ form_widget(form.foto_autor, { attr: { 'class': 'form-control' }}) }}
                                    <small class="form-text text-muted">Foto do autor do depoimento</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- Vídeo do YouTube -->
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Vídeo YouTube</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            {{ form_label(form.youtube_url) }}
                            {{ form_errors(form.youtube_url) }}
                            {{ form_widget(form.youtube_url, { attr: { 'class': 'form-control', 'placeholder': 'https://www.youtube.com/watch?v=...' }}) }}
                            <small class="form-text text-muted">URL completa do YouTube</small>
                        </div>



                        <div id="youtube-preview" style="display: none;">
                            <h6>Preview do Vídeo:</h6>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="youtube-iframe" class="embed-responsive-item" src="" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Configurações -->
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Configurações</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            {{ form_label(form.enabled) }}
                            <div class="form-check">
                                {{ form_widget(form.enabled) }}
                                {{ form_label(form.enabled, 'Depoimento ativo', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.destaque) }}
                            <div class="form-check">
                                {{ form_widget(form.destaque) }}
                                {{ form_label(form.destaque, 'Depoimento em destaque', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info float-right">{{ btn_acao }}</button>
                        <a href="{{ path('s_depoimentos') }}" class="btn btn-default float-left">Voltar</a>
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</section>
<!-- END Main content -->
{% endblock content %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
    <script src="{{ asset('plugins/summernote/summernote-bs4.min.js') }}"></script>

    <script>
        $(function() {
            // Summernote
            $('.editor-content').summernote({
                height: 200,
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['insert', ['link']],
                    ['view', ['codeview', 'help']]
                ]
            });

            // YouTube URL processing
            $('#depoimentos_youtube_url').on('input', function() {
                var url = $(this).val();
                var videoId = extractYouTubeID(url);
                
                if (videoId) {
                    $('#youtube-iframe').attr('src', 'https://www.youtube.com/embed/' + videoId);
                    $('#youtube-preview').show();
                } else {
                    $('#youtube-preview').hide();
                }
            });

            function extractYouTubeID(url) {
                var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
                var match = url.match(regExp);
                return (match && match[7].length == 11) ? match[7] : false;
            }

            // Trigger on page load if field has value
            if ($('#depoimentos_youtube_url').val()) {
                $('#depoimentos_youtube_url').trigger('input');
            }
        });
    </script>
{% endblock script %} 