{% extends 'security/banner/theme.twig' %}

{% block stylesheet %}
	<!-- DataTables -->
	<link rel="stylesheet" href="{{asset('plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
	<link rel="stylesheet" href="{{asset('plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
	<link rel="stylesheet" href="{{asset('plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
{% endblock %}

{% macro info(item) %}
   <table class="table">
      <tr>
         <td>#</td>
         <td>{{ item.id }}</td>
      </tr>
      <tr>
         <td>Regra</td>
         <td>{{ item.title }}</td>
      </tr>
      <tr>
         <td>Exibir de</td>
         <td>{{ item.show_in|date('d/m/Y h:i:s') }}</td>
      </tr>
      <tr>
         <td>Exibir ate</td>
         <td>{{ item.show_out|date('d/m/Y h:i:s') }}</td>
      </tr>
      <tr>
         <td>Status</td>
         <td>
            {% if item.enabled %}
               <span class="badge badge-success">Habilitado</span>
            {% else %}
               <span class="badge badge-danger">Desabilitado</span>
            {% endif %}
         </td>
      </tr>
      <tr>
         <td>Data de criação</td>
         <td>{{ item.created_at|date('d/m/Y h:i:s') }}</td>
      </tr>
      <tr>
         <td>Data da última alteração</td>
         <td>{{ item.updated_at|date('d/m/Y h:i:s') }}</td>
      </tr>
      <tr>
         <td colspan="2"><img src="{{ path('imagem', {'path': 'banner', 'imagem': item.image, 'w': 555, 'h': 100, 'fit': 'crop'}) }}" alt="{{ item.title }}" class="img-responsive"></td>
      </tr>
   </table>
{% endmacro %}

{% import _self as macro %}

{% block content %}
	<section class="content-header">
		<h1>Lista de banner: <strong>{{ banner_type.title }} <small>({{ banner_type.width }}x{{ banner_type.height }})</small></strong></h1>
	</section>

	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">

					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Lista de banner: {{ banner_type.title }} ({{ banner_type.width }}x{{ banner_type.height }})</h3>
						</div>
						<div class="card-body">
							<table id="banner" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>Titulo</th>
										<th>Exibir de</th>
										<th>Exibir ate</th>
										<th>Status</th>
										<th>Data de criação</th>
										<th>Data última alteração</th>
										<th class="cell-actions">Ações</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>#</th>
										<th>Titulo</th>
										<th>Exibir de</th>
										<th>Exibir ate</th>
										<th>Status</th>
										<th>Data de criação</th>
										<th>Data última alteração</th>
										<th class="cell-actions">Ações</th>
									</tr>
								</tfoot>
								{% if data|length > 0 %}
									<tbody class="orderby">
										{% for item in data %}
											<tr id="order-{{ item.id }}">
												<td>{{ item.id }}</td>
												<td>{{ item.title }}</td>
												<td>{{ item.show_in|date('d/m/Y h:i:s') }}</td>
												<td>{{ item.show_out|date('d/m/Y h:i:s') }}</td>
												<td>
													{% if item.enabled %}
														<span class="badge badge-success">Habilitado</span>
													{% else %}
														<span class="badge badge-danger">Desabilitado</span>
													{% endif %}
												</td>
												<td>{{ item.created_at|date('d/m/Y h:i:s') }}</td>
												<td>{{ item.updated_at|date('d/m/Y h:i:s') }}</td>
												<td>
													<div class="btn-group">
														<a href="javascript:void(0);" class="btn btn-default btn-sm btn-move-v" title="Arrastar para reordenar"><i class="fa fa-arrows-v"></i></a>
														<button data-toggle="modal" data-target="#modal-show-{{ item.id }}" class="btn btn-default btn-sm" title="Visualizar"><i class="fa fa-eye"></i></button>
														<a href="{{ path("s_banner_edit", {"id": item.id, 'banner_type': banner_type.id}) }}" class="btn btn-default btn-sm" title="Editar"><i class="fa fa-edit"></i></a>
														<button data-toggle="modal" data-target="#modal-delete-{{ item.id }}" class="btn btn-default btn-sm btn-delete" title="Excluir"><i class="fa fa-trash"></i></button>
													</div>

													<div class="modal fade" id="modal-show-{{ item.id }}" tabindex="-1" role="dialog">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<h4 class="modal-title">Informações sobre o banner</h4>
																	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																		<span aria-hidden="true">&times;</span>
																	</button>
																</div>
																<div class="modal-body">
																	{{ macro.info(item) }}
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
																</div>
															</div>
														</div>
													</div>

													<div class="modal fade" id="modal-delete-{{ item.id }}" tabindex="-1" role="dialog">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<h4 class="modal-title">Deletar</h4>
																	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																		<span aria-hidden="true">&times;</span>
																	</button>
																</div>
																<div class="modal-body">
																	<p>Tem certeza que deseja excluir?<br>Esta operação não tem retorno.</p>
																	{{ macro.info(item) }}
																	<form action="{{ path("s_banner_delete", { 'id': item.id, 'banner_type': banner_type.id}) }}" method="post">
																		<input type="hidden" name="id" value="{{ item.id }}">
																		<input type="hidden" name="_method" value="DELETE">
																		<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
																		<button type="submit" class="btn btn-danger">Deletar</button>
																	</form>
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- /.modal -->
												</td>
											</tr>
										{% endfor %}
									</tbody>
								{% endif %}
							</table>

						</div>
					</div>
					<div class="btn-group">
						<div class="btn-group">
							<a class="btn btn-default" href="{{ path('s_banner_type') }}"><i class="fa fa-angle-double-left"></i> Voltar</a>
							<a class="btn btn-default" href="{{ path('s_banner_create', {'banner_type': banner_type.id }) }}">Novo</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block script %}
	{{ parent() }}

	<!-- DataTables  & Plugins -->
	<script src="{{asset('plugins/datatables/jquery.dataTables.min.js')}}"></script>
	<script src="{{asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
	<script src="{{asset('plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
	<script src="{{asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
	<script src="{{asset('plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
	<script src="{{asset('plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
	<script src="{{asset('plugins/jszip/jszip.min.js')}}"></script>
	<script src="{{asset('plugins/pdfmake/pdfmake.min.js')}}"></script>
	<script src="{{asset('plugins/pdfmake/vfs_fonts.js')}}"></script>
	<script src="{{asset('plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
	<script src="{{asset('plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
	<script src="{{asset('plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>

	<script>
		(function ($) {
			$('#banner').DataTable({
				'bSort': false,
				"responsive": true,
				"lengthChange": false,
				"autoWidth": false,
				"buttons": [
					"copy",
					"csv",
					"excel",
					"pdf",
					"print",
					"colvis"
				]
			}).buttons().container().appendTo('#banner_wrapper .col-md-6:eq(0)');

			$('.orderby').sortable({
				handle: '.btn-move-v',
				update: function (event, ui) {
					var data = $(this).sortable('serialize');
					$.ajax({
						url: '{{ path('s_banner_order', {'banner_type': banner_type.id}) }}',
						type: 'PUT',
						data: data
					});
				}
			});
		}(jQuery))
	</script>
{% endblock script %}
